body {
    @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,400i,900&display=swap');
    margin: 0;
    padding: 0;
    background-color: #FAF7F3;
    font-size: 18px;

    @media ( min-width: 700px ) {
        font-size: 16px;
    }
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, dl, dt, dd, blockquote {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem; 
    margin-top: 0;
}

img, figure, figcaption {
    margin-top: 0;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    opacity: .78;
    margin-bottom: .75rem;
}

p, a, ul, ol, dl, dt, dd {
    font-weight: 300;
    opacity: .75;
}

a {
    color: #ff8f2f;
    opacity: 1 !important;
}

a:visited {
    color: #ff8f2f;
}

code {
    color: #B10DC9;
    background: #E8E8E8;
    border-radius: 5px;
    padding: .1rem .5rem;
}

blockquote {
    position: relative;
    margin-left: 0;
    font-style: italic;
}

blockquote:before {
    content: '';
    position: absolute;
    left: -1rem;
    top: .25rem;
    z-index: 2;
    width: 5px;
    height: 90%;
    background: #db7519;
}
